.header{
    display: flex;
    height:11.7%;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    margin-top: 2%;
}
.header .left-container{
    font-size: 22px;
    font-family: normal normal bold 22px/27px Helvetica Neue;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.left-container span{
    color: #43AFFF;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    margin-left: 6px;
}
.logoutIcon{
    position: relative;
    cursor: pointer;
}
.login-button{
    background-color: #43AFFF33 !important;
    border:1px solid #43AFFF !important;
    /* opacity: 1; */
    padding: 8px 40px !important;
    text-transform: capitalize !important;
    
}